body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: url(https://wallpapers.com/images/featured/weather-xqhs9axpy8btfd3y.webp);
  text-align: center;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 500;
  font-size: 100px;
  color: #050505;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-weight: 500;
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}
li {
  color: rgb(12, 12, 12);
  font-size: 20px;
  font-weight: bold;
  font-weight: 100;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li::first-letter {
  text-transform: uppercase;
}

.weather-app {
  border: #0a0a0a;
  margin: 0px;
  width: 1500px;
  height: 600px;
  border: 3px solid;
  border-radius: 4px;
  max-width: 900px;
  margin: 70px auto;
  padding: 30px 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-image: url(https://th.bing.com/th/id/R.bab176309f248ea377312e4a8b3fa083?rik=lqUT17VVLc1Kbw&pid=ImgRaw&r=0);

  background-repeat: no-repeat;
  background-size: cover;
}

.weather-box {
  max-width: 800px;

  margin: 70px auto;
}

.weather-details {
  margin-top: 40px;
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

.weather-temperature #temperature {
  color: rgb(32, 33, 36);
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  bottom: -5px;
}
a {
  text-decoration: none;
  font-size: medium;
}

.weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 50px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 3cqb;
  opacity: 0.8;
}
.weather-temp-min {
  opacity: 0.5;
}
.weather-forecast-temp {
  font-size: 30px;
}
#city-input,
#submit-btn {
  border-radius: 10px;
}
#submit-btn {
  color: #000;
  background-color: rgba(240, 10, 171, 0.654);
}
.source-code {
  font-size: 12px;
  padding-top: 20px;
}
